<?xml version="1.0" encoding="UTF-8"?>
<AcfConfigurationDocument
  xmlns="http://www.phoenixcontact.com/schema/acfconfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.phoenixcontact.com/schema/acfconfig.xsd"
  schemaVersion="1.0" >

  <Processes>
    <Process name="PLCnextSampleRuntime" binaryPath="/opt/PLCnextSampleRuntime/PLCnextSampleRuntime" workingDirectory="/opt/PLCnextSampleRuntime"/>
  </Processes>

  <Libraries>
    <Library name="Arp.Plc.AnsiC.Library" binaryPath="$ARP_BINARY_DIR$/libArp.Plc.AnsiC.so" />
  </Libraries>

  <Components>

    <Component name="Arp.Plc.AnsiC" type="Arp::Plc::AnsiC::AnsiCComponent" library="Arp.Plc.AnsiC.Library" process="PLCnextSampleRuntime">
      <Settings path="" />
    </Component>

    <Component name="Arp.Plc.DomainProxy.IoAnsiCAdaption" type="Arp::Plc::Domain::PlcDomainProxyComponent" library="Arp.Plc.Domain.Library" process="PLCnextSampleRuntime">
      <Settings path="" />
    </Component>


  </Components>

</AcfConfigurationDocument>
